<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="img/buttercup_icon.jpeg" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/default.css" />
</head>
<body>
    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="GradeCalculator">Grade Calculator</a>
    </nav>
    <div>
        @RenderBody()
    </div>


</body>
</html>
